Repository petrhanak/ng-clean-architecture: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax scss --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{css,scss}": [
    "stylelint --syntax scss --fix",
    "prettier --write"
  ],
  "*.{html,ts,md,json}": [
    "prettier --write"
  ],
  "*.{ts,html}": [
    "eslint --fix"
  ]
}

fix: typescript lint
  apps/desktop/entrypoint/src/main.ts
  package.json
Due: prettier --write, eslint --fix

fix: prettier lint
  apps/desktop/angular.json
  apps/desktop/electron-builder.json
  apps/desktop/entrypoint/src/main.ts
  apps/desktop/entrypoint/src/util.ts
  apps/desktop/entrypoint/tsconfig.serve.json
  apps/desktop/src/app/app-routing.module.ts
  apps/desktop/src/app/app.component.scss
  apps/desktop/src/app/app.component.ts
  apps/desktop/src/app/app.module.ts
  apps/desktop/src/main.ts
  apps/desktop/src/polyfills.ts
  apps/desktop/tsconfig.json
  apps/web/angular.json
  apps/web/src/app/app-routing.module.ts
  apps/web/src/app/app.component.scss
  apps/web/src/app/app.component.ts
  apps/web/src/app/app.module.ts
  apps/web/src/environments/environment.prod.ts
  apps/web/src/environments/environment.ts
  apps/web/src/main.ts
  apps/web/src/polyfills.ts
  apps/web/src/test.ts
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  modules/main/core/src/index.ts
  modules/main/core/src/ui/modal.component.ts
  modules/main/core/src/ui/ui.module.ts
  modules/main/feature/src/example/example.component.ts
  modules/main/feature/src/example/example.module.ts
  modules/main/feature/src/example/example.service.ts
  modules/main/feature/src/index.ts
Due: stylelint --syntax scss --fix, prettier --write, eslint --fix

feat: absolute imports with dependency context
  apps/desktop/src/polyfills.ts
  apps/desktop/tsconfig.app.json
  apps/desktop/tsconfig.json
  apps/web/src/polyfills.ts
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  modules/main/core/tsconfig.json
  modules/main/feature/src/example/another.component.ts
  modules/main/feature/src/example/example.module.ts
  modules/main/feature/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

feat: global assets and styles
  apps/desktop/angular.json
  apps/desktop/src/assets/background.jpg
  apps/desktop/src/assets/i18n/en.json
  apps/desktop/src/assets/sprites/sprite.svg
  apps/desktop/src/favicon.ico
  apps/desktop/src/index.html
  apps/desktop/src/styles.scss
  apps/web/angular.json
  apps/web/src/assets/.gitkeep
  apps/web/src/styles.scss
  modules/main/core/src/assets/.gitkeep
  modules/main/core/src/assets/icons/favicon.256x256.png
  modules/main/core/src/assets/icons/favicon.512x512.png
  modules/main/core/src/assets/icons/favicon.icns
  modules/main/core/src/assets/icons/favicon.ico
  modules/main/core/src/assets/icons/favicon.png
  modules/main/core/src/assets/icons/logo.svg
  modules/main/core/src/styles.scss
Due: stylelint --syntax scss --fix, prettier --write, eslint --fix

feat: i18n
  apps/desktop/angular.json
  apps/desktop/electron-builder.json
  apps/desktop/entrypoint/src/main.ts
  apps/desktop/package.json
  apps/desktop/src/index.html
  apps/desktop/src/polyfills.ts
  apps/web/angular.json
  apps/web/package.json
  apps/web/server.js
  apps/web/src/polyfills.ts
  modules/main/core/src/locale/messages.cs.xlf
  modules/main/feature/src/example/another.component.ts
  modules/main/feature/src/example/example.component.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: dark mode
  apps/desktop/angular.json
  apps/web/angular.json
  modules/main/core/src/global.scss
  modules/main/core/src/global.variables.scss
  modules/main/core/src/styles.scss
  modules/main/core/src/theme.scss
  modules/main/feature/src/example/another.component.scss
  modules/main/feature/src/example/example.component.ts
  modules/main/feature/src/example/example.module.ts
  modules/main/feature/src/theme-switcher/theme-switcher.component.html
  modules/main/feature/src/theme-switcher/theme-switcher.component.scss
  modules/main/feature/src/theme-switcher/theme-switcher.component.ts
Due: stylelint --syntax scss --fix, prettier --write, eslint --fix

feat: eslint
  .eslintrc.js
  apps/desktop/entrypoint/src/main.ts
  apps/desktop/entrypoint/src/util.ts
  apps/desktop/src/app/app.component.ts
  apps/desktop/src/app/app.module.ts
  apps/desktop/src/main.ts
  apps/desktop/tsconfig.app.json
  apps/desktop/tsconfig.json
  apps/web-e2e/cypress.json
  apps/web-e2e/package.json
  apps/web-e2e/src/fixtures/example.json
  apps/web-e2e/src/integration/theme.spec.js
  apps/web-e2e/src/plugins/index.ts
  apps/web-e2e/src/support/commands.ts
  apps/web-e2e/src/support/index.ts
  apps/web-e2e/tsconfig.json
  apps/web/src/app/app.component.ts
  apps/web/src/app/app.module.ts
  apps/web/src/environments/environment.ts
  apps/web/src/main.ts
  apps/web/src/test.ts
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  modules/main/core/src/ui/modal.component.ts
  modules/main/feature/src/example/example.component.ts
  modules/main/feature/src/example/example.service.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: lint css
  modules/main/core/src/global.scss
  modules/main/core/src/global.variables.scss
  modules/main/core/src/theme.scss
  modules/main/feature/src/example/another.component.scss
  modules/main/feature/src/theme-switcher/theme-switcher.component.scss
  package.json
Due: stylelint --syntax scss --fix, prettier --write

fix: prettier
  apps/desktop/package.json
  apps/desktop/tsconfig.app.json
  apps/desktop/tsconfig.json
  apps/web-e2e/src/fixtures/example.json
  apps/web-e2e/tsconfig.json
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  modules/main/core/src/ui/modal.component.ts
  modules/main/core/tsconfig.json
  modules/main/feature/src/example/another.component.ts
  modules/main/feature/src/example/example.service.ts
  modules/main/feature/tsconfig.json
  package.json
Due: prettier --write, eslint --fix

feat: unit tests with jest
  jest.config.ts
  modules/main/feature/__tests__/example/format-case.service.spec.ts
  modules/main/feature/src/example/example.component.ts
  modules/main/feature/src/example/example.module.ts
  modules/main/feature/src/example/format-case.service.ts
  package.json
  setup-jest.ts
  tsconfig.spec.json
  yarn.lock
Due: prettier --write, eslint --fix

docs: update readme
  README.md
Due: prettier --write

feat: static web
  .eslintrc.js
  apps/static-web/.browserslistrc
  apps/static-web/angular.json
  apps/static-web/package-lock.json
  apps/static-web/package.json
  apps/static-web/scully.web.config.ts
  apps/static-web/scully/plugins/plugin.ts
  apps/static-web/scully/tsconfig.json
  apps/static-web/src/app/app-routing.module.ts
  apps/static-web/src/app/app.component.html
  apps/static-web/src/app/app.component.scss
  apps/static-web/src/app/app.component.ts
  apps/static-web/src/app/app.module.ts
  apps/static-web/src/environments/environment.prod.ts
  apps/static-web/src/environments/environment.ts
  apps/static-web/src/favicon.ico
  apps/static-web/src/index.html
  apps/static-web/src/main.ts
  apps/static-web/src/polyfills.ts
  apps/static-web/tsconfig.app.json
  apps/static-web/tsconfig.json
  yarn.lock
Due: stylelint --syntax scss --fix, prettier --write, eslint --fix
